.form {
  position: relative;
  background-color: rgba(219, 219, 219, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 70%; */
  width: fit-content;
  /* margin: auto; */
  /* margin-top: 4rem; */
  flex-wrap: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.login-section,
.signup-section {
  width: 400px;
  height: 500px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.form-input {
  min-width: 250px;
  height: 40px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}

.cover {
  color: white;
  padding: 20px;
  position: absolute;
  left: 0rem;
  height: 500px;
  width: 400px;
  background-color: red;
  z-index: 1;
  transition: 5s ease-in-out;
  border-radius: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.register-link {
  margin-inline: 5px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.toRight {
  animation: slideRight 0.5s ease-in-out forwards;
  border-radius: 15px;
}
.toLeft {
  animation: slideLeft 0.5s ease-in-out forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(0px);
    background: blueviolet;
  }
  100% {
    transform: translateX(400px);

    background: orange;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(400px);
    background: orange;
  }
  100% {
    transform: translateX(0px);
    background: blueviolet;
  }
}

.closeButton{
  position: absolute;
  top: 0;
  right: 21rem;
  color: gray;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}